# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
/.swc/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
.pnpm-debug.log*

# env files (keep the example)
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
/.vscode
/.idea
